%h3
  = question_counter + 1
  = question.title

.row
  .col-md-4
    - if question.choices.any?
      %strong Choices
      = render(question.choices)
  /.col-md-4
  /- if question.options.any?
  /%strong Options
  /= render(question.options)
.row
  = render(question.images)
