%li
  = question.question_type.name
  - if question.choices.any?
    %span.badge.pull-right
      = question.choices.size
    %ol.ordered-list
      = render question.choices
  - if question.images.any?
    %span.badge.pull-right
      = question.images.size
