.rating-fields
  .row
    .col-xs-6
      = f.input :name, wrapper: :vertical_input_group, label: false do
        = f.input_field :name, class: "form-control input-sm",
          placeholder: Raiting.human_attribute_name(:name)
        %span.input-group-btn
          = f.hidden_field :_destroy
          %button.btn.btn-danger.btn-sm{data: {behavior: "remove_raiting_fields"}}
            = fa_icon "close"
