- if @question.errors.any?
  $("[data-behavior~=submit-question]").html("#{ j render 'form' }");
- else
  $("#question-wrapper").append($("#{ j render @question }").fadeIn(1000));
  $('#question-modal').modal('hide');
