%footer
  .container
    .row
      .col-md-7
        .article-subscription
          %h4= t "account.footer.subscription_text"
          %form.form-inline
            .form-group
              %input.form-control{placeholder: t("account.footer.placeholder"),
                type: "text"}
            %button.btn.btn-default{type: "submit"}
              = t "account.footer.button"
      /.col-md-5
      /.article-footer
    %hr
      .row
        .col-md-7
          %p
            = t "account.footer.rights"

