%footer
  .container
    .row
      .col-md-7
        .article-subscription
          %h4= t "account.footer.subscription_text"
          %form.form-inline
            .form-group
              %input.form-control{placeholder: t("account.footer.placeholder"),
                type: "subscription"}
            %button.btn.btn-default{type: "submit"}
              = t "account.footer.button"
      .col-md-5
        .article-footer
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie erat nisi, quis tincidunt leo faucibus eget. Duis condimentum vel risus nec dapibus.
    %hr
      .row
        .col-md-7
          %p
            = t "account.footer.rights"

