%footer
  .container
    .row
      .col-md-7
        .article-subscription
          %h4 Subscribe to our blog
          %form.form-inline
            .form-group
              %input.form-control{placeholder: "Subscription", type: "subscription"}
            %button.btn.btn-default{type: "submit"} SUBSCRIBE
      .col-md-5
        .article-footer
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie erat nisi, quis tincidunt leo faucibus eget. Duis condimentum vel risus nec dapibus.
    %hr
      .row
        .col-md-7
          %p
            Social Surveys All rights reserved 2016
        .col-md-5
          .article-nav
            %ul.list-inline
              %li
                %a{href:"#"}
                  HOME
              %li
                %a{href:"#"}
                  PRIVACY
              %li
                %a{href:"#"}
                  FAQ
              %li
                %a{href:"#"}
                  CONTACT

