= form_tag(path, method: "get", id: "survey-search-form",
  class: "form-inline") do
  .form-group
    = text_field_tag :search, params[:search],
      placeholder: t("app.search").upcase,
      class: "form-control"
  = button_tag fa_icon("search"), class: "btn btn-default"
