#answers-list.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-label": "Close", "data-dismiss": "modal", type: "button"}
          %span{"aria-hidden": "true"} ×
        %h1.text-center.m-t-0
          = @question.title
      .modal-body
        .answer-items
          = render @answers
      .modal-footer
        - unless @answers.next_page.nil?
          = link_to fa_icon("undo", text: "LOAD MORE ANSWERS"),
          question_answers_path(@question, page: @answers.next_page),
          remote: true, title: "Load more answers!",
          data: { "disable-with": "loading.." },
          class: "btn btn-sm btn-default text-center", id: "show_more"
        %button.btn.btn-sm.btn-primary{"data-dismiss": "modal", type: "button"} Close
