.form-group
  = select_tag "alert[alert_filter_attributes][condition]",
    options_for_select(t("app.survey.notifications.filters.conditions").invert),
    prompt: t("app.survey.notifications.filters.select_condition"),
    class: "form-control"
.form-group
  = select_tag "alert[alert_filter_attributes][answer][]",
    options_for_select(1..5),
    prompt: t("app.survey.notifications.filters.select_rate"),
    class: "form-control"
