.form-group
  = select_tag "alert_filter[answer][]",
    options_for_select(choices.collect {|c| [c.title, c.id]}, f.present? ? f.answer : nil),
    prompt: t("app.survey.notifications.filters.select_choice"),
    class: "form-control"
