.form-group
  = select_tag "alert_filter[answer][]",
    options_for_select(images.collect {|i| [i.name, i.id]}, f.present? ? f.answer : nil),
    prompt: t("app.survey.notifications.filters.select_image"),
    class: "form-control"
