.choice-fields
  .row
    .col-md-6
      = f.input :title, label: false, placeholder: "Fill in with a possible choice",
        input_html: { class: "input-sm" }
    .col-md-1
      = f.hidden_field :_destroy
      = link_to fa_icon("close"), "#", class: "btn btn-danger btn-xs",
        data: { behavior: "remove_choice_fields" }
