= content_tag :div, id: "image_#{image.id}" do
  .col-xs-2.col-sm-2.col-md-2
    .thumbnail
      .caption
        - if policy(image).destroy?
          = link_to fa_icon("trash"), image, method: :delete,
            class: "btn btn-xs btn-danger", remote: true
      = image_tag(image.file.url(:thumb), class: "img-responsive",
        data: { behavior: "image_select", name: image.name})
