Survey #{@submission.survey.name} has been rated with the following stars:
__________________________________________________________________________

- @submission.answers.each do |answer|
  - if answer.answer_raiting.present?
    = answer.question.title
    Response:
    = answer.answer_raiting.response
