@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300';");

// Typography
$font-family-sans-serif: 'Open Sans Condensed', sans-serif;
$font-family-base: $font-family-sans-serif !default;
$font-size-base: 15px !default;

// Navbar
$navbar-height: 45px !default;
$navbar-default-bg: #fff !default;
