/* Colors */

.turbolinks-progress-bar {
  background-color: #f72969;
}

.notify {
  padding: 15px;
  margin-bottom: 20px;
  border-left: 6px solid #ccc;
  text-align: center;
}

.notify-danger {
  border-color: #f72969;
  color: #f72969;
}

.notify-success {
  border-color: #8cc474;
  color: #8cc474;
}

.notify-info {
  border-color: #11a9cc;
  color: #11a9cc;
}

