// Place all the styles related to the surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.survey-form-upload {
  margin-top: 15px;
  .dropzone {
    border: 1px dashed rgba(0, 0, 0, 0.3);
  }
}

.survey-images {
  margin-top: 20px;
  .thumbnail {
    cursor: pointer;
    margin-bottom: 0;
  }
  .caption {
    position:absolute;
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;
  }
}

.question_question_type {
  margin-bottom: 10px;
  label {
    @extend .btn;
    @extend .btn-success;
    @extend .btn-sm;
    margin: 0px 5px 5px 0px;
  }
  input {
    /* HIDE RADIO */
    visibility: hidden;
    /* Makes input not-clickable */
    position: absolute;
    &:checked + label {
      /* (RADIO CHECKED) IMAGE STYLES */
      background-color: #e4094d;
      border-color: #db084a;
    }
  }
}


