// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-roles {
  hr {
    margin-top: 5px;
    margin-bottom: 15px;
    border: 0;
    border-top: 3px solid #f72969;
  }
}

.role-buttons {
  label {
    @extend .btn;
    @extend .btn-success;
    @extend .btn-sm;
    margin: 0px 5px 0px 0px;
  }
  input {
    /* HIDE RADIO */
    visibility: hidden;
    /* Makes input not-clickable */
    position: absolute;
    &:checked + label {
      /* (RADIO CHECKED) IMAGE STYLES */
      background-color: #e4094d;
      border-color: #db084a;
    }
  }
}
